Total.synctex.gz
Total.toc
Total.run.xml
Total.out
Total.lot
Total.log
Total.lof
Total.loa
Total.ist
Total.glo
Total.fls
Total.fdb_latexmk
Total.blg
Total.bcf
Total.bbl
Total.aux
Total.acn
.vscode/settings.json
Total.gls
Total.glg
Total.alg
Total.acr
